.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/*Fonts*/
@font-face {
    font-family: 'eurocaps';
    src:    url('../EUROCAPS.TTF');
    font-weight: normal;
    font-style: normal;
}
html, body {
    font-family: 'Sintony', sans-serif;
    height: 100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

/*Global*/
.wrapper {
    padding: 5px;
    background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
        -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background: -moz-radial-gradient(black 15%, transparent 16%) 0 0,
        -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background: -ms-radial-gradient(black 15%, transparent 16%) 0 0,
        -ms-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background: -o-radial-gradient(black 15%, transparent 16%) 0 0,
        -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    min-height:100%;
}
#content-main {
    margin-top: 50px;
}
a {
    color: #FF8F00!important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-transform:uppercase;
    outline:none;
}

/*Nav*/
.titlebar-wrapper {
    position: fixed;
    width:99.3%;
    z-index: 2;
    background: -webkit-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -moz-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -ms-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -o-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    opacity: .7;
    border:none;
}
.titlebar-wrapper .navbar {
    background: -webkit-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -moz-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -ms-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -o-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    opacity: .7;
    border:none;
    border-radius:0;
    margin-bottom: 0;
    min-height:40px;
}
.nav-top {
    height: 2px;
    background: #FFA202;
    -webkit-box-shadow: 2px 2px 30px 5px rgba(255,162,2,1);
    -moz-box-shadow: 2px 2px 30px 5px rgba(255,162,2,1);
    box-shadow: 2px 2px 30px 5px rgba(255,162,2,1);
    border-radius: 7px;
    margin-bottom: 3px;
    margin-top: 0;
}
.nav-bottom {
    height: 2px;
    background: #FFA202;
    -webkit-box-shadow: 2px 2px 30px 5px rgba(255,162,2,1);
    -moz-box-shadow: 2px 2px 30px 5px rgba(255,162,2,1);
    box-shadow: 2px 2px 30px 5px rgba(255,162,2,1);
    border-radius: 7px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.nav a {
    font-size:18px;
    letter-spacing: -1px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.navbar {
    padding-left:0;
}
.navbar-nav {
    display:flex;
    width:100%;
}
.navbar-nav li {
    flex: 1;
}
.navbar-nav li a {
    padding-bottom:10px;
    padding-top:10px;
}
.active a {
    background: -webkit-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -moz-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -ms-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -o-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: radial-gradient(circle, #FFA20B, #FAB13E)!important;
    color: rgba(0, 0, 0, 0.9)!important;
    text-transform:uppercase;
}

/*Main Page*/
.main-wrapper {
    width:100%;
    display: flex;
    color: #FF8F00!important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-transform:uppercase;
    outline:none;
}
.sidebar {
    font-family: "sintony";
    font-size: 18px;
    background: -webkit-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -moz-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -ms-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -o-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    opacity: .7;
    border:none;
    position: absolute;
    left: 5px;
    top: 58px;
    bottom: 0;
    width: 300px;
    color: #D45705;
}
.sidebar-title {
    height: 50px;
    line-height: 60px;
    margin: 0 auto;
    padding-left: 10px;
    width: 98%;
}
.journal-list {
    color: #FFA202;
    list-style: none;
    margin: 0;
    padding:0;
    padding-left: 10px;
    margin-top:7px;
    max-height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
}
.journal-list li {
    position: relative;
}
.journal-list li:hover {
    background-color: #490A08;
    cursor: pointer;
}
.new-entry {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: #2d0706;
    bottom: 7px;
    left: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    width: 95%;
}
.fa-plus {
    padding-right: 5px;
}
.new-entry:hover {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: rgba(0, 0, 0, 0.9)!important;
    background: -webkit-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -moz-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -ms-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -o-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: radial-gradient(circle, #FFA20B, #FAB13E)!important;
    cursor:pointer;
}
.entry-date {
    color: #d45705;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.entry-text {
    padding-right:80px;
}
.separator {
    height: 2px;
    background: #D45705;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    border-radius: 7px;
    margin-bottom: 3px;
    margin-top: 0;
    width: 96%;
    margin: 0 auto;
}
.reading-separator {
    width:99%;
}
.vertical-separator {
    background: #D45705;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    border-radius: 7px;
    width: 2px;
    position: absolute;
    left: 305px;
    top: 58px;
    bottom: 7px;
}
.bottom-separator {
    height: 2px;
    background: #D45705;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    box-shadow: 0px 0px 4px 0px rgba(255,162,2,1);
    border-radius: 7px;
    margin-bottom: 3px;
    margin-top: 0;
    width: 99.3%;
    position: absolute;
    bottom: -2px;
}
.reading-pane {
    bottom: 0;
    left: 307px;
    position: absolute;
    top: 58px;
    width: calc(100% - 311px);
    font-family: "sintony";
    text-transform: none;
    font-size: 18px;
    background: -webkit-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -moz-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -ms-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -o-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    opacity: .7;
    color: #D45705;
    height:auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.entry-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.entry-title {
    height: 50px;
    line-height: 60px;
    margin: 0 auto;
    padding-left: 10px;
    width: 98%;
    color: #FFA202;
}
.star-date {
    display: inline-block;
    line-height: 18px;
    padding: 5px;
    width: auto;
    float: right;
    margin-top: 15px;
    color: #D45705;
    font-size: 16px;
}
.title-text {
    display: block;
    padding-right: 20%;
    width: 100%;
}
.reading-body {
    padding:10px;
    margin-bottom:50px;
}

/*Entry*/
.confirm .message {
    display: inline-block;
    padding: 10px;
}
.reading-actions .confirm .new-entry {
    display: inline-block;
    bottom: 0;
    width:15%;
}
.reading-actions {
    bottom: 0;
    height: 50px;
    position: fixed;
    left:310px;
    width: calc(100% - 335px);
    background: -webkit-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -moz-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -ms-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -o-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    opacity: 0.7;
}
.reading-actions .new-entry {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}
.reading-actions .new-entry {
    position: relative;
    width: 25%;
    bottom: -6px;
}
.new-entry.delete:hover {
    background:#8E1114!important;
    color:#FFF!important;
}
.separator.entry {
    width:100%;
}
input {
    background: #200400;
    opacity: 0.7;
    line-height: 18px;
    padding: 5px;
    width: 300px;
    border: 1px solid #D45705;
}
#entry-wrapper .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: #200400;
    opacity: 0.7;
    color:inherit;
}
.ta-toolbar {
    margin-bottom:10px;
}
#entry-wrapper .reading-body .btn-group button {
    opacity: 0.7;
    color:inherit;
    border: 1px solid #D45705;
}
#content-main #entry-wrapper .reading-body .btn-default {
    /*Inactive button, non-hovered*/
    background: #291513;
    border-color: #D45705;
    color: inherit;
}
#content-main #entry-wrapper .reading-body .btn-default:hover {
    /*Inactive button, hovered*/
    background: #482420!important;
    border-color: #D45705!important;
    color: inherit!important;
}
#content-main #entry-wrapper .reading-body .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    /*Active button, non-hover*/
    background: #662D27!important;
    border-color: #D45705!important;
    color: inherit!important;
}
#content-main #entry-wrapper .reading-body .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    /*Active button, hovered*/
    background: #87352C!important;
    border-color: #D45705!important;
    color: inherit!important;
}

/*Login*/
.login-wrapper {
    position: absolute;
    bottom: 0;
    top: 55px;
    width: calc(100% - 10px);
    background: -webkit-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -moz-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -ms-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: -o-repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    background: repeating-linear-gradient(0deg, #150002, #000, #150002 10px);
    color: #ffa202;
    font-family: 'sintony',sans-serif;
    font-size: 18px;
    height: calc(100% - 55px);
    overflow: hidden;
    opacity: 0.7;
}
.inner-login-wrapper {
    height: 100%;
    overflow: auto;
    opacity: 0.7;
    padding: 2% 10% 10%;
}

.inner-login-wrapper .login-form {
    margin: 0 auto;
    max-width: 300px;
    padding-bottom: 30px;
}

.inner-login-wrapper .logged-in-info {
    margin: 0 auto;
    max-width: 400px;
}
.forgot-password {
    padding: 5px;
    font-size:0.8em;
}
.error-message {
    color: red;
}

/*Toast UI*/
#toast-container .toast {
    background:none!important;
    border-radius:0!important;
    box-shadow: none!important;
    margin: 0!important;
    padding: 0!important;
    width: inherit!important;
}
#toast-container .toast.toast-success,
#toast-container .toast.toast-error,
#toast-container .toast.toast-warning {
    background:none!important;
}

#toast-container .toast-success,
#toast-container .toast-error,
#toast-container .toast-warning {
    background: none!important;
}

#toast-container .toast-success .arrow {
    border-top: 18px solid #228DFF;
    opacity: 0.8;
}
#toast-container .toast-success .background-text div,
#toast-container .toast-error .background-text div,
#toast-container .toast-warning .background-text div {
    display: none;
}
#toast-container .toast-top-right {
    top: 34px;
}
.custom-container {
    color: red;
    font-size: 0.8em;
    height: 142px;
    overflow: hidden;
    white-space: nowrap;
    width: 330px;
    position: relative;
    opacity:0.85;
}
.cmdr-toast-lead {
    color: #fff;;
    font-size: 1.6em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 38px;
    white-space: normal;
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
}
.triangle-container {
    height: 94px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 160px;
    opacity:0.85;
}

.arrow {
    position: absolute;
    width: 100px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 18px solid #f00;
}
.arrow.bottom {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.arrow.middle {
    bottom: 37px;
    right: 10px;
    transform: rotate(60deg);
}
.arrow.top {
    bottom: 37px;
    left: 10px;
    transform: rotate(-60deg);
}




/*Miscellaneous*/
#myCanvas{
    background: black none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity:0.7;
}
.cmdr-button {
    background-color: #2d0706;
    border: none;
    padding: 7px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;}
.cmdr-button:hover {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: rgba(0, 0, 0, 0.9)!important;
    background: -webkit-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -moz-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -ms-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: -o-radial-gradient(circle, #FFA20B, #FAB13E)!important;
    background: radial-gradient(circle, #FFA20B, #FAB13E)!important;
    cursor:pointer;
}
.cmdr-button:disabled {
    background-color: #120202;
}
.cmdr-button.delete:hover {
    background:#8E1114!important;
    color:#FFF!important;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
