<div class="login-wrapper">
    <div class="inner-login-wrapper">
        <div class="logged-in-info" ng-if="vm.user">
            <div class="">
                Logged in as {{vm.user.email}}
            </div>
            <form class="form" name="updateForm" ng-submit="vm.updateUser(updateForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="newCmdrName">Update commander name</label>
                    <input class="" id="newCmdrName" type="text" name="" value="" ng-model="vm.newCmdrName">
                </div>
                <button class="cmdr-button">
                    SAVE
                </button>
                <button class="cmdr-button delete" ng-click="vm.signOutUser()">
                    SIGN OUT
                </button>
            </form>
        </div>
        <form ng-if="!vm.user" name="loginForm" class="form login-form" ng-submit="vm.submitForm(loginForm.$valid)" novalidate>
            <div class="form-group" ng-if="!vm.createMode && !vm.resetPasswordMode">
                <label for="userEmail">Email Address</label>
                <input class=""
                    id="userEmail"
                    type="email"
                    name="userEmail"
                    ng-model="vm.userEmail"
                    required>
                <div ng-messages="loginForm.userEmail.$error">
                    <p class="error-message" ng-message="required" ng-show="loginForm.userEmail.$touched">Email Address is required.</p>
                    <p class="error-message" class="error-message" ng-message="email" ng-show="loginForm.userEmail.$touched">Must be valid email.</p>
                </div>
            </div>
            <div class="form-group" ng-if="!vm.createMode && !vm.resetPasswordMode">
                <label for="password">Password</label>
                <input class=""
                    type="text"
                    name="password"
                    id="password"
                    ng-model="vm.password"
                    required>
                <div ng-messages="loginForm.password.$error">
                    <p class="error-message" ng-message="required" ng-show="loginForm.password.$touched">Password is required.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="newUserEmail">Email Address</label>
                <input class=""
                    id="newUserEmail"
                    type="text"
                    name="newUserEmail"
                    ng-model="vm.newUserEmail"
                    required>
                <div ng-messages="loginForm.newUserEmail.$error">
                    <p class="error-message" ng-message="required" ng-show="loginForm.newUserEmail.$touched">Email Address is required.</p>
                    <p class="error-message" ng-message="email" ng-show="loginForm.newUserEmail.$touched">Must be valid email.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="cmdrName">Commander Name</label>
                <input class=""
                    id="cmdrName"
                    type="text"
                    name="cmdrName"
                    ng-model="vm.cmdrName"
                    required>
                <div ng-messages="loginForm.cmdrName.$error">
                    <p class="error-message" ng-message="required" ng-show="loginForm.cmdrName.$touched">Commander Name is required.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="newPassword">Password</label>
                <input class=""
                    type="text"
                    id="newPassword"
                    name="newPassword"
                    ng-model="vm.newPassword"
                    required>
                <div ng-messages="loginForm.newPassword.$error">
                    <p class="error-message" ng-message="required" ng-show="loginForm.newPassword.$touched">Password is required.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="confirmPassword">Confirm Password</label>
                <input class=""
                    type="text"
                    id="confirmPassword"
                    name="confirmPassword"
                    ng-model="vm.confirmPassword"
                    ng-pattern="\b{{vm.newPassword}}\b"
                    required>
                <div ng-messages="loginForm.confirmPassword.$error">
                    <p class="error-message" ng-message="pattern" ng-show="loginForm.confirmPassword.$touched">Passwords do not match.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.resetPasswordMode">
                <label for="resetEmail">Email Address</label>
                <input class=""
                    id="resetEmail"
                    type="email"
                    name="resetEmail"
                    ng-model="vm.resetEmail"
                    required>
                <div ng-messages="loginForm.resetEmail.$error">
                    <p class="error-message" ng-message="required" ng-show="loginForm.resetEmail.$touched">Email is required.</p>
                    <p class="error-message" ng-message="email" ng-show="loginForm.resetEmail.$touched">Must be valid email.</p>
                </div>
            </div>
            <button ng-disabled="loginForm.$invalid" type="submit" class="cmdr-button" ng-if="!vm.createMode && !vm.resetPasswordMode">
                LOGIN
            </button>
            <button type="submit" class="cmdr-button" ng-click="vm.createMode = !vm.createMode" ng-if="!vm.createMode && !vm.resetPasswordMode">
                REGISTER
            </button>
            <button ng-disabled="loginForm.$invalid" class="cmdr-button" ng-click="vm.createUser()" ng-if="vm.createMode">
                CREATE
            </button>
            <button ng-disabled="loginForm.$invalid" class="cmdr-button" ng-click="vm.forgotPassword()" ng-if="vm.resetPasswordMode">
                SEND EMAIL
            </button>
            <button class="cmdr-button" ng-click="vm.cancelAction()" ng-if="vm.createMode || vm.resetPasswordMode">
                CANCEL
            </button>
            <div class="forgot-password" ng-click="vm.resetPassword()" ng-if="!vm.resetPasswordMode && !vm.createMode">
                Forgot Password?
            </div>
        </form>
    </div>
</div>
