<div class="login-wrapper">
    <div class="inner-login-wrapper">
        <div class="logged-in-info" ng-if="vm.user">
            <div class="">
                Logged in as {{vm.user.email}}
            </div>
            <form class="form" name="updateForm" ng-submit="vm.updateUser(updateForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="newCmdrName">Update commander name</label>
                    <input class="form-control" id="newCmdrName" type="text" name="" value="" ng-model="vm.newCmdrName">
                </div>
                <button class="btn btn-warning">
                    SAVE
                </button>
                <div class="btn btn-danger" ng-click="vm.signOutUser()">
                    Sign Out
                </div>
            </form>
        </div>
        <form ng-if="!vm.user" name="loginForm" class="form" ng-submit="vm.submitForm(loginForm.$valid)" novalidate>
            <div class="form-group" ng-if="!vm.createMode">
                <label for="userEmail">User Email</label>
                <input class="form-control"
                    id="userEmail"
                    type="email"
                    name="userEmail"
                    ng-model="vm.userEmail"
                    required>
                    <div ng-messages="loginForm.userEmail.$error">
                        <p ng-message="required" ng-show="loginForm.userEmail.$touched">Username is required.</p>
                        <p ng-message="email" ng-show="loginForm.userEmail.$touched">Must be valid email.</p>
                    </div>
            </div>
            <div class="form-group" ng-if="!vm.createMode">
                <label for="password">Password</label>
                <input class="form-control"
                    type="text"
                    name="password"
                    id="password"
                    ng-model="vm.password"
                    required>
                <div ng-messages="loginForm.password.$error">
                    <p ng-message="required" ng-show="loginForm.password.$touched">Password is required.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="newUserEmail">Username (email address)</label>
                <input class="form-control"
                    id="newUserEmail"
                    type="text"
                    name="newUserEmail"
                    ng-model="vm.newUserEmail"
                    required>
                <div ng-messages="loginForm.newUserEmail.$error">
                    <p ng-message="required" ng-show="loginForm.newUserEmail.$touched">Username is required.</p>
                    <p ng-message="email" ng-show="loginForm.newUserEmail.$touched">Must be valid email.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="newPassword">Password</label>
                <input class="form-control"
                    type="text"
                    id="newPassword"
                    name="newPassword"
                    ng-model="vm.newPassword"
                    required>
                <div ng-messages="loginForm.newPassword.$error">
                    <p ng-message="required" ng-show="loginForm.newPassword.$touched">Password is required.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-control"
                    type="text"
                    id="confirmPassword"
                    name="confirmPassword"
                    ng-model="vm.confirmPassword"
                    ng-pattern="\b{{vm.newPassword}}\b"
                    required>
                <div ng-messages="loginForm.confirmPassword.$error">
                    <p ng-message="pattern" ng-show="loginForm.confirmPassword.$touched">Passwords do not match.</p>
                </div>
            </div>
            <div class="form-group" ng-if="vm.createMode">
                <label for="cmdrName">Commander Name</label>
                <input class="form-control"
                    id="cmdrName"
                    type="text"
                    name="cmdrName"
                    ng-model="vm.cmdrName"
                    required>
                <div ng-messages="loginForm.cmdrName.$error">
                    <p ng-message="required" ng-show="loginForm.cmdrName.$touched">Commander Name is required.</p>
                </div>
            </div>
            <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary" ng-if="!vm.createMode">
                LOGIN
            </button>
            <button type="submit" class="btn btn-primary" ng-click="vm.createMode = !vm.createMode" ng-if="!vm.createMode">
                REGISTER
            </button>
            <button ng-disabled="loginForm.$invalid" class="btn btn-danger" ng-click="vm.createUser()" ng-if="vm.createMode">
                CREATE
            </button>
            <button class="btn btn-default" ng-click="vm.createMode = !vm.createMode" ng-if="vm.createMode">
                CANCEL
            </button>
        </form>
    </div>
</div>
