<div class="main-wrapper">
    <div class="sidebar">
        <div class="sidebar-title">
            Journal Entries
        </div>
        <div class="separator"></div>
        <ul class="journal-list">
            <li>Into the Black</li>
            <li>A shaky proposition</li>
            <li>Aliens, dude</li>
        </ul>
        <div class="new-entry">
            New Entry
        </div>
    </div>
    <div class="vertical-separator"></div>
    <div class="reading-pane">
        <div class="entry-title">
            <div class="star-date">
                0109 Jan 7, 3303
            </div>
            <div class="title-text">
                Into the Black
            </div>
        </div>
        <div class="separator reading-separator"></div>
        <div class="reading-body">
            The text and whatnot will all go here.
        </div>
    </div>
</div>
