<!-- Add your site or application content here -->
<div class="titlebar-wrapper">
  <div class="nav-top"></div>
  <div class="navbar navbar-default" role="navigation">
    <div class="">
      <div class="navbar-header">

        
      </div>

      <div class="" id="">

        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="root.dashboard">CMDR Logs</a></li>
          <!-- <li ui-sref-active="active"><a ui-sref="root.about">About</a></li> -->
          <li ng-if="!vm.user.data" ui-sref-active="active"><a ui-sref="root.login">Login</a></li>
          <li ng-if="vm.user.data" ui-sref-active="active">
              <a ui-sref="root.login">{{vm.user.data.displayName || 'Commander'}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-bottom"></div>
</div>
